{% extends "base_home.html" %}
{% load i18n %}

{% block content_head_top %}
<div class="row" style="padding-bottom:10px;">
    <div class="dashboard-head">
        <div class="container">
            <div class="span12 full-heading-parent">
                <div class="header-box pull-left">
                    <div id="dataset-title" class="heading">
                        <h2>Reset Your Password</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content_top %}
<div class="row" style="min-height:300px;">
	<div class="span6">
		<div style="padding-top:10px">
			<h3><center>Are you a teacher?</center></h3>
		</div>
		{% include "user_feedback.html" %}
		<div style="width:365px; margin:0 auto;padding-top:80px;">
			<form method="post" action=".">
			  	{% for field in form  %}
				<div style="margin: 0 0 0 20px;min-height: 42px;">
			    	<div class="login-form-label" style="width:100px;">
			    		{{field.label_tag}}
			    	</div>
			    	<div class="FormField">
			    		{{field}}
			    	</div>
				</div>
				{% endfor %} 
			  {% csrf_token %}
			  <input type="submit" class="btn success-btn pull-right" style="margin-right:24px;" value="{% trans 'Submit' %}" />
			</form>
			<div class="clear"></div>
			<p style="margin-top:10px;margin-right:24px;"><a class="alert-signup-link pull-right" href="{% url auth_login %}">{% trans "Back to Login" %}</a></p>
		</div>
	</div>
	<div class="span6">
		<div style="height:400px;border-left: 1px solid #ccc;">        
            <div style="padding-top:10px">
                <h3><center>Are you a student?</center></h3>
            </div>
			<div style="padding-top:60px"> 
				<p><center>If you have a TuvaLabs account that doesn't require an email address, please ask your teacher to reset your password for you.</center></p>          
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block meta %}
<title>Reset Password | TuvaLabs</title>
<meta name="description" content="Reset your TuvaLabs password" />
{% endblock %}
