{% extends user.is_authenticated|yesno:"base_other.html,base_home.html" %}
{% load i18n %}

{% block content_head_top %}
<div class="row" style="padding-bottom:10px;">
    <div class="dashboard-head">
        <div class="container">
            <div class="span12 full-heading-parent">
                <div class="header-box pull-left">
                    <div id="dataset-title" class="heading">
                        <h2>Successful</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content_top %}
<p>{% trans "Password changed successfully." %} <a href="/account/profile/">Back to Profile</a></p>
{% endblock %}
