{% extends "base_home.html" %}
{% load i18n %}

{% block content_top %}
<div class="row">
	<div class="span12 heading">
		<div class="tuva-bottom-header">
			<div class="title">Email Sent</div>
		</div>
	</div>
	<div class="row">
	&nbsp;
	</div>
	<div style="width:355px; margin:0 auto;padding-top:80px;">
		<p>{% trans "Email with password reset instructions has been sent." %}</p>
	</div>
</div>
{% endblock %}

{% block meta %}
<title>Reset Password Email | TuvaLabs</title>
<meta name="description" content="Email with password reset instruction sent." />
{% endblock %}
